#measure-select{
    position: relative;
    top: 5px;
    margin: 10px;
    padding: 0;
    /* left:-50px; */
}
#measure-select select{
    width:100px;
}

.tooltip{
    height:60px;
    border: 1px #ccc solid;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.tooltip:before,.tooltip:after{
    content: "";
    border: 10px solid transparent;
    margin-top: 60px;
    position: absolute;
}
.tooltip:before{
    border-top: 11px solid #ccc;
    left: 20px;
}
.tooltip:after{
    border-top: 10px solid #fff;
    left: 21px;
}